<% include ../partials/header %>

<!-- <h1>this is the show template</h1>
<p><%= campground.name %></p>
<img src="<%= campground.image %>">
<p><%= campground.description%></p>
<h4> comments : </h4>
<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %> -->
<!-- <p>
    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add new Comment</a>
</p> -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <%# <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div> %>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="card-block">
                    <div class="card-title">
                        <h4 class="float-right">$19.00/night</h4>
                        <h4><a><%=campground.name%></a></h4>
                    </div>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text"> <em>submitted by</em> <%= campground.author.username %></p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form style="display: inline;" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form style="display:inline;" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" >
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
