<% include ../partials/header %>

<h1>this is the show template</h1>
<p><%= campground.name %></p>
<img src="<%= campground.image %>">
<p><%= campground.description%></p>
<h4> comments : </h4>
<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %>
<p>
    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add new Comment</a>
</p>
<% include ../partials/footer %>
